<launch>

<arg name="robot_prefix" default="turtlebot2"/>	

<node pkg="turtlebot_teleop_keyboard" type="turtlebot_teleop_key_diff_drive_mux" name="turtlebot_teleop_key_diff_drive_mux_$(arg robot_prefix)" output="screen">
<remap from="/wheels_vel_cmd" to="/vrep/$(arg robot_prefix)/wheels_vel_cmd"/>
</node>
</launch>
